<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="omniprovincias" frontName="omniprovincias">
            <module name="Omnipro_Omniprovincias" />
        </route>
    </router>
</config>